@charset "UTF-8";
.ccbe-text-primary {
  color: var(--ccbe-primary-color) !important;
}
.ccbe-text-secondary {
  color: var(--ccbe-tertiary-color) !important;
}
.ccbe-text-tertiary {
  color: var(--ccbe-tertiary-color) !important;
}
.ccbe-text-mobiglass {
  color: var(--ccbe-mobiglass-border-color) !important;
}

/* Variables */
/* Root */
:root {
  --ccbe-primary-color: #000000;
  --ccbe-secondary-color: #ffffff;
  --ccbe-tertiary-color: #c0943f;
  --ccbe-mobiglass-border-color: #B6E5F9;
  --ccbe-mobiglass-bg-color: rgba(11, 19, 28, .5);
  --ccbe-mobiglass-box-shadow: 0px 0px 5px 0 rgba(255,255,255,.25);
  --ccbe-discord-bg-color: #5865f2;
  --ccbe-discord-bg-color: #5865f2;
  --ccbe-youtube-bg-color: #ff0000;
  --ccbe-facebook-bg-color: #1877f2;
  --ccbe-whatsapp-bg-color: #25d366;
  --ccbe-instagram-bg-color: linear-gradient(45deg, #405de6, #833ab4, #e1306c, #f56040, #fcaf45);
  --ccbe-twitter-bg-color: #1da1f2;
}

.btn.btn-discord, #Text a[href="https://discord.gg/pmbyTrWQBj"] {
  background-color: #5865f2;
  width: auto;
  min-width: 100%;
  position: relative;
  color: var(--ccbe-secondary-color);
  border-radius: 50px;
  overflow: hidden;
}
.btn.btn-discord::before, #Text a[href="https://discord.gg/pmbyTrWQBj"]::before {
  content: "";
  background-image: url("https://ccbesc.es/web/image/1982-37f72680/discord.webp");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: unset;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 115px;
  transform: translate(0%, -50%);
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: #000 !important;
}
html main #wrap, body main #wrap {
  background-color: #000;
}

p, span, a, h1, h2, h3, h4, h5, h6, i, b, u, strong, small, input, textarea, label {
  margin: 0;
  padding: 0;
  font-family: consolas, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header#top {
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.125);
}

#ccbe-partner-info p, #ccbe-partner-info h1, #ccbe-partner-info h2, #ccbe-partner-info h3, #ccbe-partner-info h4, #ccbe-partner-info h5, #ccbe-partner-info h6 {
  margin: 0;
  padding: 10px 0;
  color: white;
}

.s_embed_code_embedded.o_not_editable.container-fluid {
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

main {
  padding-top: 0px !important;
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100vh;
  overflow: hidden;
}

footer#bottom {
  position: fixed !important;
  width: 90%;
  max-width: 1440px;
  left: 50% !important;
  transform: translateX(-50%);
  right: 0 !important;
  bottom: 0 !important;
  top: auto !important;
  z-index: 999 !important;
  border: var(--ccbe-mobiglass-border-color) 1px solid;
  border-radius: 50px;
  background-color: rgba(77, 145, 178, 0.25);
  margin-bottom: 30px;
}

footer#bottom .container.py-3 {
  padding: 10px !important;
}

main button[type=submit], main a.btn {
  background-color: transparent;
  text-transform: uppercase;
  padding: 15px 30px;
  border-radius: 0px;
  border-color: transparent;
  -webkit-clip-path: polygon(100% 0, 100% 75%, 92% 100%, 0 100%, 0 0);
          clip-path: polygon(100% 0, 100% 75%, 92% 100%, 0 100%, 0 0);
  color: var(--ccbe-mobiglass-border-color);
  transition: ease-in-out 0.3s all;
  background-image: url("https://ccbesc.es/web/image/1954-f64bc314/bg-button.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-align: left;
}
main button[type=submit]:hover, main a.btn:hover {
  padding-right: 50px;
  cursor: pointer;
  color: var(--ccbe-mobiglass-border-color);
  background-color: transparent;
}
main button[type=submit]:focus, main a.btn:focus {
  background-color: transparent;
  border-color: transparent;
  color: var(--ccbe-mobiglass-border-color);
}

:root {
  --primary-header-navbar-color: #DCF4FF;
  --secondary-header-navbar-color: rgba(77, 145, 178, 0.25);
}

#discussion *:not(textarea) {
  color: #fff !important;
}

div#wrapwrap.homepage {
  overflow: hidden;
}

#top {
  box-shadow: none !important;
  padding-top: 3rem;
  position: fixed !important;
  left: 50%;
  transform: translateX(-50%) !important;
  width: 90%;
  max-width: 1440px;
}
#top .o_header_hide_on_scroll.border-bottom.o_border_contrast .container.d-flex.justify-content-between.flex-wrap.w-100 {
  max-width: 1440px;
  padding: 0 !important;
  margin: 0.25rem 0;
}
#top .container.d-grid.align-items-start.w-100.py-2.o_grid_header_3_cols.justify-content-between {
  position: relative;
  max-width: 1440px !important;
  padding: 0 !important;
}
#top .container.d-grid.align-items-start.w-100.py-2.o_grid_header_3_cols.justify-content-between::after {
  content: "";
  position: absolute;
  top: 40%;
  left: -100px;
  transform: translateY(-50%);
  width: 100px;
  height: 2px;
  background-color: var(--primary-header-navbar-color);
}
#top .container.d-grid.align-items-start.w-100.py-2.o_grid_header_3_cols.justify-content-between::before {
  content: "";
  position: absolute;
  top: 30%;
  right: -100px;
  transform: translateY(-50%);
  width: 100px;
  height: 2px;
  background-color: var(--primary-header-navbar-color);
}
#top li.nav-item {
  background-color: rgba(77, 145, 178, 0.25);
  padding: 0 !important;
  margin: 10px;
  border-radius: 15px;
  border: 0.0315rem solid #DCF4FF;
  border-bottom: 0.0315rem solid transparent;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}
#top li.nav-item:hover::after {
  background-color: #DCF4FF;
}
#top li.nav-item:has(.nav-link.active)::after {
  background-color: #DCF4FF;
}
#top li.nav-item::before {
  content: "";
  position: absolute;
  border: 0.0315rem solid #DCF4FF;
  bottom: 0;
  left: 20%;
  width: 51px;
  height: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#top li.nav-item::after {
  content: "";
  position: absolute;
  border: 0.0315rem solid #DCF4FF;
  bottom: 0;
  left: 24%;
  width: 45px;
  height: 7px;
  border-radius: 5px;
  background-color: rgba(77, 145, 178, 0.25);
  z-index: 999;
  display: block;
}
#top li.nav-item a span {
  color: #DCF4FF;
  font-weight: bolder;
  font-size: 10px;
  letter-spacing: 2px;
}
#top li.nav-item .nav-link {
  -webkit-clip-path: polygon(100% 0%, 100% 100%, 82% 100%, 82% 89%, 22% 89%, 22% 100%, 0% 100%, 0% 0%);
          clip-path: polygon(100% 0%, 100% 100%, 82% 100%, 82% 89%, 22% 89%, 22% 100%, 0% 100%, 0% 0%);
  padding: 30px 10px 10px 10px;
  width: 80px;
}

#o_main_nav li.dropdown.border-start.o_border_contrast.o_no_autohide_item a {
  background-color: var(--secondary-header-navbar-color);
  border: 1px solid var(--primary-header-navbar-color) !important;
  border-radius: 10px !important;
  margin-right: 5px;
}
#o_main_nav li.dropdown.border-start.o_border_contrast.o_no_autohide_item a span {
  color: #fff;
}
#o_main_nav li.dropdown.border-start.o_border_contrast.o_no_autohide_item a span::after {
  color: var(--primary-header-navbar-color) !important;
}
#o_main_nav .s_social_media.o_not_editable.oe_unmovable.oe_unremovable a i, #o_main_nav .s_social_media.o_not_editable.oe_unmovable.oe_unremovable a svg {
  color: #fff;
  background-color: rgba(77, 145, 178, 0.25);
  border-radius: 5px;
  border: 0.0315rem solid #DCF4FF;
  padding: 20px !important;
  margin-top: 15px;
  margin-left: 5px;
}

#top_menu ~ a.navbar-brand.logo.mw-100.mx-auto span img {
  min-width: 125px !important;
  min-height: 125px !important;
  margin-top: -1rem;
  margin-left: 8rem;
}

#ccbe-custom-menu-items {
  background-color: transparent;
}
#ccbe-custom-menu-items ul li::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 50px;
  height: 7px;
  background-color: transparent;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-left: 0.0315rem solid #DCF4FF;
  border-top: 0.0315rem solid #DCF4FF;
  border-right: 0.0315rem solid #DCF4FF;
}
#ccbe-custom-menu-items ul li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 24%;
  width: 44px;
  height: 5px;
  background-color: transparent;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 0.0315rem solid #DCF4FF;
}
#ccbe-custom-menu-items ul li::after:hover {
  background-color: #DCF4FF;
}
#ccbe-custom-menu-items ul li {
  margin: 0 5px;
  position: relative;
}
#ccbe-custom-menu-items ul li a {
  padding: 20px 5px 10px 5px;
  text-decoration: none;
  color: var(--primary-header-navbar-color);
  width: 80px;
  height: 60px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  background-color: var(--secondary-header-navbar-color);
  border-radius: 10px;
  -webkit-clip-path: polygon(100% 0%, 100% 100%, 82% 100%, 82% 89%, 22% 89%, 22% 100%, 0% 100%, 0% 0%);
          clip-path: polygon(100% 0%, 100% 100%, 82% 100%, 82% 89%, 22% 89%, 22% 100%, 0% 100%, 0% 0%);
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 0.0315rem solid #DCF4FF;
}
#ccbe-custom-menu-items ul li a i, #ccbe-custom-menu-items ul li a svg, #ccbe-custom-menu-items ul li a .fa, #ccbe-custom-menu-items ul li a .fa-brands {
  font-size: 16px;
  width: 50px;
}
#ccbe-custom-menu-items ul li a .fa-brands {
  font-size: 1.25rem;
}

.dropdown-toggle::after {
  color: var(--primary-header-navbar-color);
}

#wrapwrap.o_header_overlay > header:not(.o_header_affixed):not(.o_header_sidebar) {
  position: fixed;
  top: 0;
  left: 50%;
  bottom: auto;
  z-index: 1000;
  transform: translateX(-50%) !important;
}

:root {
  --sb-track-color: #DCF4FF;
  --sb-thumb-color: #4e828e;
  --sb-size: 5px;
}

.ccbe-rest-of-articles::-webkit-scrollbar,
#wrap.js_blog.website_blog:has(#o_wblog_post_main)::-webkit-scrollbar {
  width: 0;
}

.ccbe-rest-of-articles::-webkit-scrollbar-track,
#wrap.js_blog.website_blog:has(#o_wblog_post_main)::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 50px;
}

.ccbe-rest-of-articles::-webkit-scrollbar-thumb,
#wrap.js_blog.website_blog:has(#o_wblog_post_main)::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 50px;
  border: 5px solid transparent;
}

.text-mobiglass {
  color: var(--ccbe-mobiglass-border-color);
}

div#wrap.js_blog.website_blog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60vh;
  margin-top: 4rem;
  width: 90%;
  max-width: 1440px;
  overflow: hidden;
  background-color: rgba(77, 145, 178, 0.25);
  border-radius: 25px;
  border: var(--ccbe-mobiglass-border-color) 1px solid;
}
div#wrap.js_blog.website_blog:has(#o_wblog_post_main) {
  overflow-y: scroll;
  padding: 15px;
}
div#wrap.js_blog.website_blog #o_wblog_index_content {
  height: 100%;
}
div#wrap.js_blog.website_blog #o_wblog_index_content .container.py-4 {
  margin: 0;
  padding: 1rem !important;
  width: 100% !important;
  max-width: 100%;
  height: 100%;
}
div#wrap.js_blog.website_blog #o_wblog_index_content .container.py-4 .row.d-flex.justify-content-center.align-items-start.justify-content-center {
  height: 100%;
}
div#wrap.js_blog.website_blog #o_wblog_index_content .container.py-4 .row.d-flex.justify-content-center.align-items-start.justify-content-center #ccbe-first-article-blog {
  height: 100%;
}
div#wrap.js_blog.website_blog #o_wblog_index_content .container.py-4 .row.d-flex.justify-content-center.align-items-start.justify-content-center #ccbe-first-article-blog .ccbe-first-article-blog__items {
  padding-right: 0;
}
div#wrap.js_blog.website_blog #o_wblog_index_content .container.py-4 .row.d-flex.justify-content-center.align-items-start.justify-content-center #ccbe-first-article-blog article[name=blog_post].o_wblog_post.position-relative.card.h-100 a.card-img-top {
  height: 75%;
}

div#o_wblog_blog_top {
  display: none;
}

#o_wblog_blog_top ~ nav.navbar.navbar-expand-lg.navbar-light.pt-4.pb-0.px-0 {
  display: none;
}

#o_wblog_posts_loop_container {
  padding-right: 30px;
}
#o_wblog_posts_loop_container #o_wblog_posts_loop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#o_wblog_posts_loop_container #o_wblog_posts_loop .ccbe-rest-of-articles {
  overflow-y: scroll;
  padding-right: 1rem;
  height: auto;
  max-height: 30vh;
}
#o_wblog_posts_loop_container #o_wblog_posts_loop .ccbe-rest-of-articles .ccbe-first-article-blog__items {
  padding-bottom: 15px;
}
#o_wblog_posts_loop_container #o_wblog_posts_loop .ccbe-rest-of-articles .ccbe-first-article-blog__items .card-body a {
  font-size: 0.9rem;
  letter-spacing: -1px;
}
#o_wblog_posts_loop_container #o_wblog_posts_loop .row .pb-4.col-12.col-md-6:first-child {
  opacity: 1;
}

.scroll-container {
  overflow: hidden; /* Oculta el scrollbar real */
  position: relative;
  height: 300px;
}

.fake-scrollbar {
  position: absolute;
  right: 10px; /* Mueve el scrollbar a otra ubicación */
  width: 8px;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#ccbe-wallpaper-brackground {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
#ccbe-wallpaper-brackground video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#ccbe-wallpaper-brackground .ccbe-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75));
}
#ccbe-wallpaper-brackground .ccbe-container .ccbe-col {
  margin-top: 7rem;
}
#ccbe-wallpaper-brackground .ccbe-container .ccbe-col h1 {
  font-size: 3vw;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 0px;
  color: #B6E5F9;
}
#ccbe-wallpaper-brackground .ccbe-container .ccbe-col h2 {
  font-size: 1.5vw;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 0px;
  color: #ffffff;
  margin: 1rem 0;
}
#ccbe-wallpaper-brackground .ccbe-container .ccbe-col p {
  font-size: 1vw;
  text-transform: uppercase;
  font-weight: thin;
  letter-spacing: 0px;
  color: #ffffff;
  width: 40%;
  margin: 1rem auto;
}

#ccbeSuccessRecruitmentForm {
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 100% 100%;
}
#ccbeSuccessRecruitmentForm h1 {
  font-size: 5rem;
  line-height: 5rem;
  color: var(--ccbe-mobiglass-border-color);
  text-align: left;
  margin: 0;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 640px) {
  #ccbeSuccessRecruitmentForm h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
}
#ccbeSuccessRecruitmentForm h3 {
  text-align: left;
  margin: 0;
  margin-bottom: 2rem;
  color: rgba(182, 229, 249, 0.75);
}
#ccbeSuccessRecruitmentForm p {
  color: var(--ccbe-mobiglass-border-color);
  margin: 0;
  margin-bottom: 2rem;
  text-align: left;
}

.ccbe-recruitment-form {
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ccbe-recruitment-form #ccbeRecruitmentFormControl label {
  text-transform: uppercase;
  color: var(--ccbe-mobiglass-border-color);
  margin: 0;
  padding: 0;
  text-align: left;
  margin-bottom: 0.5rem;
  letter-spacing: 2px;
  display: block;
  font-weight: bold;
}
.ccbe-recruitment-form #ccbeRecruitmentFormControl input, .ccbe-recruitment-form #ccbeRecruitmentFormControl textarea {
  background-color: rgba(11, 19, 28, 0.5);
  border-left: 0;
  border-right: 0;
  padding: 20px 20px;
  border-color: #B6E5F9;
  border-width: 2px;
  box-shadow: 0px 0px 5px 0 rgba(255, 255, 255, 0.25);
  color: var(--ccbe-mobiglass-border-color);
  border-radius: 15px;
}
.ccbe-recruitment-form #ccbeRecruitmentFormControl input::-moz-placeholder, .ccbe-recruitment-form #ccbeRecruitmentFormControl textarea::-moz-placeholder {
  color: var(--ccbe-mobiglass-border-color);
}
.ccbe-recruitment-form #ccbeRecruitmentFormControl input::placeholder, .ccbe-recruitment-form #ccbeRecruitmentFormControl textarea::placeholder {
  color: var(--ccbe-mobiglass-border-color);
}
.ccbe-recruitment-form #ccbeRecruitmentFormControl small {
  color: rgba(182, 229, 249, 0.75);
  font-size: 0.75rem;
  text-align: left;
  display: block;
  margin-bottom: 1rem;
}

.oe_website_login_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60vh;
  margin-top: 4rem;
  width: auto;
  max-width: 1440px;
  overflow: hidden;
  background-color: rgba(77, 145, 178, 0.25);
  border-radius: 25px;
  border: var(--ccbe-mobiglass-border-color) 1px solid;
  padding: 2rem;
  min-width: 25rem;
}

li.o_no_autohide_item a.o_navlink_background_hover.btn.btn-sm.d-flex.align-items-center.h-100.rounded-0.border-0.border-start.px-3.text-reset.o_border_contrast {
  border: 1px solid var(--ccbe-mobiglass-border-color) !important;
  padding: 10px 20px !important;
  height: auto !important;
  color: var(--ccbe-secondary-color) !important;
  background-color: var(--secondary-header-navbar-color);
  border-radius: 10px !important;
}

#ccbe-partners .ccbe-card {
  position: relative;
  background-color: transparent !important;
  border-top: 2px solid var(--ccbe-mobiglass-border-color);
  border-bottom: 2px solid var(--ccbe-mobiglass-border-color);
  border-radius: 20px;
  box-shadow: var(--ccbe-mobiglass-box-shadow);
  transition: ease-in-out 0.3s all;
}
#ccbe-partners .ccbe-card:hover {
  box-shadow: 0px 0px 10px 0 rgba(255, 255, 255, 0.5);
}
#ccbe-partners .ccbe-card:hover img {
  filter: grayscale(0);
}
#ccbe-partners .ccbe-card:hover a::after {
  background-color: transparent;
}
#ccbe-partners .ccbe-card__image {
  padding: 0.5rem;
}
#ccbe-partners .ccbe-card__image img {
  border-radius: 15px;
  overflow: hidden;
  filter: grayscale(1);
  height: 174px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
#ccbe-partners .ccbe-card__body--title {
  padding: 10px 0 20px 0;
}
#ccbe-partners .ccbe-card__body--title a {
  color: var(--ccbe-mobiglass-border-color);
  margin: 0;
  white-space: nowrap;
}
#ccbe-partners .ccbe-card__body--title a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 20px;
  background-color: var(--ccbe-mobiglass-bg-color);
  transition: ease-in-out 0.3s all;
  cursor: pointer;
}

.o_border_contrast {
  border: 0px 0px 0px rgba(0, 0, 0, 0) !important;
}/*# sourceMappingURL=main.css.map */