/* Variables */

// Colors

// Main
$ccbe-primary-color:                                                                              #000000;
$ccbe-secondary-color:                                                                            #ffffff;
$ccbe-tertiary-color:                                                                             #c0943f;

// Others
$ccbe-mobiglass-border-color:                                                                     #B6E5F9;
$ccbe-mobiglass-bg-color:                                                            rgba(11, 19, 28, .5);
$ccbe-mobiglass-box-shadow:                                           0px 0px 5px 0 rgba(255,255,255,.25);

// Brands
$ccbe-discord-bg-color:                                                                           #5865f2;
$ccbe-youtube-bg-color:                                                                           #ff0000;
$ccbe-facebook-bg-color:                                                                          #1877f2;
$ccbe-whatsapp-bg-color:                                                                          #25d366;
$ccbe-instagram-bg-color:     linear-gradient(45deg, #405de6, #833ab4, #e1306c, #f56040, #fcaf45);
$ccbe-twitter-bg-color:                                                                           #1da1f2;

/* Root */
:root {

  // Primary
  --ccbe-primary-color:                                                                           #000000;
  --ccbe-secondary-color:                                                                         #ffffff;
  --ccbe-tertiary-color:                                                                          #c0943f;

  // Other Colors
  --ccbe-mobiglass-border-color:                                                                  #B6E5F9;
  --ccbe-mobiglass-bg-color:                                                         rgba(11, 19, 28, .5);
  --ccbe-mobiglass-box-shadow:                                    0px 0px 5px 0     rgba(255,255,255,.25);

  // Brands
  --ccbe-discord-bg-color:                                                                        #5865f2;
  --ccbe-discord-bg-color:                                                                        #5865f2;
  --ccbe-youtube-bg-color:                                                                        #ff0000;
  --ccbe-facebook-bg-color:                                                                       #1877f2;
  --ccbe-whatsapp-bg-color:                                                                       #25d366;
  --ccbe-instagram-bg-color:  linear-gradient(45deg, #405de6, #833ab4, #e1306c, #f56040, #fcaf45);
  --ccbe-twitter-bg-color:                                                                        #1da1f2;

}

// SIzes for media queries
$breakpoints: (

  // Phones
  "phone-xxs":                  320px,
  "phone-xs":                   375px,
  "phone-s":                    420px,
  "phone-m":                    580px,
  "phone-l":                    640px,
  "phone-xl":                   800px,

  // Tablets
  "tablet-xs":                  750px,
  "tablet-s":                   820px,
  "tablet-m":                   900px,
  "tablet-l":                   980px,

  // Desktop
  "desktop-xs":                1024px,
  "desktop-s":                 1140px,
  "desktop-md":                1280px,
  "desktop-l":                 1360px,
  "desktop-xl":                1440px,
  "desktop-xxl":               1980px
  
);